/* html, body, div, a, button, input {
  font-family: 'Helvetica', 'Arial', 'sans-serif';
}

.react-grid-Container {
  font-size: 12px;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  color: rgba(255,255,255,0.7);
}

.padded {
  padding: 20px;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.bottom-nav a {
  text-align: center;
  width: 100%;
}

.bottom-nav a button {
  width:calc(100% - 5px)
}

.viewport video {
  height: 280.5px;
  width: 100%;
}

.scanner-container {
  background-color: black;
  height: 280.5px;
}

.scanner-container, .interactive {
  height: 280.5px;
}

.drawingBuffer {
  display: none;
}

.btn-success {
  background-color: #8dc600;
  border-color: #8dc600;
  color: #fff;
}

.btn-primary {
  background-color: #007494;
  border-color: #007494;
  color: #fff;
}

.btn-warning {
  background-color: #FFD166;
  border-color: #FFD166;
  color: #fff;
}

.btn-danger {
  background-color: #EF476F;
  border-color: #EF476F;
  color: #fff;
}

.btn-group {
  width: 100%;
}

.btn-group .btn {
  width: 100%;
}

.react-grid-Row--even div {
  background-color: #f8f8f8;
}

.max-height {
  height: stretch; 
}
*/
