/*
body {
  margin: 0;
  margin-top: 74px !important;
  padding: 0;
}
*/

.shadow-hover:focus:after, .shadow-hover:hover:after {
  opacity: 0.3;
}

.w-100-plus4 {
  width: calc(100% + 4rem);
}

.shadow-1 {
  box-shadow: 0 0 4px 2px rgba(0,0,0,.05);
}

.bg-isgreen {
  background-color: #8DC600;
}

.bg-isorange {
  background-color: #DD403A;
}

.over-row .react-grid-Cell {
  background-color: #FFDDDC !important;
}

.over-row.odd-row .react-grid-Cell {
  background-color: #FFD2D0 !important;
}

.under-row .react-grid-Cell {
  background-color: #FFF5E7 !important;
}

.under-row.odd-row .react-grid-Cell {
  background-color: #FCEBD4 !important;
}

.even-row .react-grid-Cell {
  background-color: white !important;
}

.even-row.odd-row .react-grid-Cell {
  background-color: #FBFBFB !important;
}

.react-grid-Cell {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.react-grid-HeaderCell {
  border-right: none !important;
  color: #777777;
  font-size: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: normal !important;
  background: none !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  height: 40px !important;
}

.react-grid-HeaderCell.status-indicator {
  border-bottom: none;
}

.react-grid-Grid {
  border: none !important;
}

.react-grid-Header {
  background-color: #F4F4F4 !important;
  height: 40px !important;
}

.react-grid-HeaderRow {
  height: 40px !important;
}

.react-grid-HeaderRow > div:first-child {
  height: 40px !important;
}

.react-grid-Main {
  outline: none !important;
  background-color: #F4F4F4 !important;
}

.react-grid-Viewport {
  top: 40px !important;
}

.react-grid-Row .react-grid-Cell.status-indicator {
  background-color: #F4F4F4 !important;
  border-top: solid 1px #F4F4F4;
  border-right: solid 1px #F4F4F4;
  border-bottom: solid 1px #F4F4F4;
}
